/* styles header */

.header {
    display: flex;
    background: #93b0ef26;
    height: 60px;
    align-items: center;
    width: 100%;
    position: fixed;
    justify-content: space-evenly;
    left: 0;
    padding: 0 18%;
    z-index: 1000;
}

.header div {
    display: flex;
    padding: 0 7px;
    align-items: center;
}

.header .icon-user {
    width: 24px;
    height: 25px;
    border-radius: 50%;
}

.header a,
.name-user {
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header a:hover { 
    text-align: center;
    color: #dc3545;
    background: #a0bfec21;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 2px #f1675d40;
}

.header a:active {
    box-shadow: inset 0px 0px 9px 4px #f1675d40;
}

/* page login */

.conten-login {
    margin: 117px auto 20px;
}

/* page admin */

.banner-admin {
    margin: 180px auto 50px;
}

h2.title {
    height: 60px;
    margin: 60px auto 20px;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #00000040;
}
       
h2.title.admin {
    background: #4dd14d;
}

h2.title.curso {
    background: #ffd147;
}

h2.title.studen {
    background: #8eaad3;
}

/* page create user */

.main-form {
    margin: 0 auto;
}

.content-create-user-div {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 7%;
}

.main-form form {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.content-login {
    position: fixed;
    left: 7%;
}

.content-form {
    margin-left: auto;
}

/* page index */

strong.curso-visto {
    display: flex;
    justify-content: flex-end;
}

strong.curso-visto input {
    margin: 3px 3px 3px 10px;
    width: 21px;
    height: 21px;
    box-shadow: 0px 0px 7px 3px #00000040;
}

/* page success */

.content-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

.content-success h2 {
    margin: 40px;
}

.content-success .img-success {
    width: 230px;
}
.content-success a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.content-success a:hover {
    color: #009688;
    text-decoration: underline;
}